{% extends 'base.html' %}
{% block title %}Dashboard - Receba{% endblock %}
{% block content %}
<h2>Encomendas Pendentes</h2>
{% if pendentes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>COD</th>
                <th>Empresa</th>
                <th>Entregador</th>
                <th>Data Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for e in pendentes %}
            <tr>
                <td>{{ e.uuid[:8] }}</td>
                <td>{{ e.cod }}</td>
                <td>{{ e.empresa }}</td>
                <td>{{ e.entregador }}</td>
                <td>{{ e.data_registro }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Não há encomendas pendentes.</p>
{% endif %}
{% endblock %}